<div class="row">
    <ul class="col-lg-4 subtitle-text"><img src="<%=record.photo%>"/></ul>
    <ul class="list-group col-lg-8 text-muted">
        <li class="list-group-item"><label>Name : <%=record.name%></label></li>
        <li class="list-group-item"><label>Number : <%=record.number%></label></li>
        <li class="list-group-item"><label>Address : <%=record.address%></label></li>
        <li class="list-group-item"><label>Age : <%=record.age%></label></li>
        <li class="list-group-item"><label>Company : <%=record.company%></label></li>
    </ul>
</div>